<div class="general">
    <h1>Component About-us</h1>
  <h1>Autores</h1>
  <h2>
    {{nombre}} {{apellido}}
  </h2>
  <h2>
    {{nombre2}} {{apellido2}}
  </h2>

  <div class="bio">
    <h1>Biografia {{nombre2}}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Doloremque veritatis, culpa soluta voluptatum quisquam unde
      aperiam fugiat est esse ratione odio repudiandae perferendis
      eius accusantium odit maiores doloribus quis magnam.</p>
    <img class="img" src="https://cdn.pixabay.com/photo/2015/01/09/11/11/office-594132_960_720.jpg"
      alt="Oficina, Inicio, Negocio, Oficina En Casa, Empresario">
  </div>
  <div class="bio">
    <h1>Biografia {{nombre}}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Doloremque veritatis, culpa soluta voluptatum quisquam unde
      aperiam fugiat est esse ratione odio repudiandae perferendis
      eius accusantium odit maiores doloribus quis magnam.</p>
    <img class="img" src="https://cdn.pixabay.com/photo/2015/02/02/11/09/office-620822_960_720.jpg"
      alt="Oficina, Negocio, Contador, Contabilidad, Portátil">
  </div>
</div>
