h1{
    color:#731E16;
    text-align: center;
}
h2{
    text-align: center;
}




p{
    color:#A65C1C;
}

.bio{
    width: 500px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    text-align: justify;
    margin-left: 100px;
}

.img{
    width: 500px;
    height: 300px;
    display: inline-block;
    margin: 5px; 
}




